html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
  margin: 0;
}

#header_bar {
  background-color: #FFF9EF;
}

#logo {
  height: 5rem;
  width: auto;
  cursor: pointer;
  border-radius: 1rem;
}

#dogBanner {
  height: auto;
  width: 100%;
  cursor: pointer;
}

#header_text_img {
  height: auto;
  width: 50%;
  cursor: pointer;
}


