html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Comic Sans MS", ComicSans, cursive;
  color: #00669a;
  text-align: center;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

p,
ul,
ol,
button,
input,
label,
.navigation-bar,
.footer-bar {
  font-family: "Open Sans", sans-serif;
  font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #00669a;
}

ol {
  font-size: 22px;
}

img {
  cursor: default;
}

button {
  border-radius: 0.8em;
}

button:hover {
  cursor: pointer;
  background-color: rgb(169, 218, 234);
}

a:hover {
  cursor: pointer;
  color: #00669a;
}

/* ================== STANDARD MESSAGES ================== */

.Success {
  color: greenyellow;
  font-size: 40px;
  text-align: center;
}

.Loading {
  color: #00669a;
  font-size: 40px;
  text-align: center;
}

.Error {
  color: #e90a28;
  font-size: 40px;
  text-align: center;
}

/* ================== HEADER BAR ================== */
#header_bar {
  background-color: rgb(169, 218, 234);
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navigation-link {
  padding: 0.7rem;
  text-decoration: none;
  color: rgb(231, 166, 1);
}

#logo {
  height: 5rem;
  width: auto;
  cursor: pointer;
  border-radius: 1rem;
}

#dogBanner {
  height: auto;
  width: 100%;
  cursor: pointer;
}

#header_text_img {
  height: auto;
  width: 30%;
  cursor: pointer;
}

/* ================== FOOTER BAR ================== */
.footer-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

/* ================== HOME PAGE ================== */
#HomeBody {
  margin: 0;
}

#HomeBody h1,
#HomeBody h2 {
  text-align: center;
}

.HomeSummary {
  text-align: center;
  margin: 0 15%;
}

.whyChoose {
  margin-left: 10%;
}

#shopButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#shopButton {
  width: 30%;
  font-size: 3rem;
  margin: 2rem 0;
}

#dogHomeBanner {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dogHomeBanner img {
  width: 100%;
  height: auto;
}

/* ================== ABOUT US PAGE ================== */

#AboutBody {
  text-align: center;
  width: 80%;
  margin: 0 0 0 10%;
}

/* ================== TERMS OF USE PAGE ================== */
#PrivacyHeader {
  text-align: center;
  width: 80%;
  margin: 3% 0 3% 8%;
}

#PrivacyList {
  width: 80%;
  margin: 0 0 0 8%;
}

/* ================== PRIVACY POLICY PAGE ================== */
#TermsOfUseHeader {
  text-align: center;
  width: 80%;
  margin: 3% 0 3% 8%;
}

#TermsOfUseList {
  width: 80%;
  margin: 0 0 0 8%;
}

/* ================== LOGIN PAGE ================== */
#LoginHeader {
  text-align: center;
  margin: 1% 0 3% 0;
}

#LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#LoginForm input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.8em;
  border: 3px solid #00669a;
}

#LoginButton {
  width: 5%;
}

/* ================== REGISTER PAGE ================== */
#RegisterHeader,
#RegisterRequired {
  text-align: center;
  margin: 1% 0 3% 0;
}

#RegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#RegisterForm input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.8em;
  border: 3px solid #00669a;
}

#RegisterButton {
  width: 5%;
}

/* ================== ACCOUNT PAGE ================== */
#AccountBody {
  text-align: center;
  margin: 1% 0 3% 0;
}

#AccountBody button {
  width: 20%;
  font-size: 15px;
}

/* ================== ORDERS PAGE ================== */
.ordersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1% auto 3%; 
  width: 30%;
}

.orders {
  border: 2px solid #00669a;
  border-radius: 2em;
  margin-bottom: 2em;
  padding: 1em;
}

.ordersList button {
  width: 20%;
  font-size: 15px;
}

/* ================== ORDER SUMMARY PAGE ================== */
#orderSummaryList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 1% auto 3%; 
  width: 100%;
}

.orders {
  width: 25%;
  height: 25rem;
  border: 2px solid #00669a;
  border-radius: 2em;
  margin-bottom: 2em;
  padding: 1em;
}

.orders button {
  width: 50%;
  font-size: 15px;
}

/* ================== PRODUCTS HOME ================== */
#ProductsAvailableList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.ProductsAvailable {
  width: 20rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 3px solid #00669a;
  border-radius: 4em;
  margin: 1em 0 2em 0;
  background-color: white;
}

.ProductsAvailable button {
  margin: 0.5em;
}

.ProductImage {
  width: 80%;
  height: auto;
  padding-top: 1rem;
  border-radius: 4em;
}

/* ================== PRODUCTS (1) PAGE ================== */
#SelectedProduct {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

#SelectedProductDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 1em 0 2em 0;
  background-color: white;
}

#SelectedProduct button {
  margin: 0.5em;
}

#SelectedProductImage img {
  width: 30rem;
  height: auto;
  padding-top: 1rem;
  border-radius: 4em;
}

/* ================== CART PAGE ================== */
#UserProductsList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 1% auto 3%;
}

.UserProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  height: 48em;
  border: 3px solid #00669a;
  border-radius: 4em;
  margin-bottom: 2em;
  padding: 1em;
}

.UserProductDetails {
  margin-bottom: 2em;
  padding: 1em;
}

.UserProductImage img {
  width: 90%;
  height: auto;
  padding-top: 1rem;
  border-radius: 4em;
}

.UserProduct button {
  margin: 0.5em;
}

#CartSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#SumText {
  font-size: 50px;
}

#CheckoutBtn {
  font-size: 30px;
  padding: 0.2em;
  width: 50%;
}
