html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
  margin: 0;
}

#header_bar {
  background-color: #FFF9EF;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navigation-link {
  padding: 0.7rem;
  text-decoration: none;
  color: rgb(50, 50, 255);
}

#logo {
  height: 5rem;
  width: auto;
  cursor: pointer;
  border-radius: 1rem;
}

#dogBanner {
  height: auto;
  width: 100%;
  cursor: pointer;
}

#header_text_img {
  height: auto;
  width: 30%;
  cursor: pointer;
}

.footer-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

#ProductsAvailableList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.ProductsAvailable {
  margin: 0;
  width: 20rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  margin: 2rem;
  background-color: white;
}


